<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>请登录</title>

    <script type="text/javascript" th:src="@{/webjars/jQuery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jsencrypt/3.2.1/bin/jsencrypt.js}"></script>
    <link th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <style>
        /* 悬浮的错误消息样式 */
        #error-message {
            position: fixed; /* 或者使用 absolute 根据需要 */
            top: 20px; /* 离顶部20像素 */
            left: 50%; /* 水平中心对齐 */
            transform: translateX(-50%); /* 左移50%以居中显示 */
            z-index: 1050; /* 确保在其他元素之上 */
            width: 80%; /* 设置宽度 */
            max-width: 400px; /* 最大宽度 */
        }
    </style>
</head>

<body>
<div class="container text-center">
    <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
    <img class="mb-4" th:src="@{/img/20170815105250_TKAv4.jpeg}" alt="" width="108" height="108">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <form class="form-signin needs-validation" novalidate id="login-form">
        <div class="form-group">
            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" class="form-control" placeholder="请输入用户名" required>
            <div class="valid-feedback">验证成功！</div>
            <div class="invalid-feedback">请输入用户名！</div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" class="form-control" placeholder="请输入密码" required>
            <div class="valid-feedback">验证成功！</div>
            <div class="invalid-feedback">请输入密码！</div>
        </div>
        <button id="login" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
    </form>
</div>


</body>
<script type="text/javascript">
    const loginUrl = "/auth/login";
    $(function () {
        const pubkey = 'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4xg8XEY89wr4P9DQGRdeRldLk7PsnHt6zgvm+J6CNteN733llu8OpVTJAXLhVXg4Ntj2e+KEghHd+CyCOry8u0iLhnH4j/Zrdc1+xYRkBvt2Zcxb20O7XLWJoltbNZ1uHo/TcOhDOgX1MY3UvKoxvDAp0Wj5Eq8GK0NbHXRZENmrQ1O1OuDH5uJ5MEB7ceF8Mc0PwV5skk0EfrPL6S5dGUulc7QhopynBLX/iKGOJ/LXyXPp5XpaVuh7dNu/rAAegXufRK4q8zmfUrmTrrOddSUMmNBAFOZmrbmiLmoE950HgI5LVg9eLCBRVp4gwQPaEQYt+AT323urNJ4xEkFpewIDAQAB';
        $("#login").click(function(){
            if ($("#login-form")[0].checkValidity() === false) {
                $("#login-form").addClass('was-validated');
                return;
            }
            const username = $.trim($("#username").val());
            const password = $.trim($("#password").val());
            const encrypt = new JSEncrypt();
            encrypt.setPublicKey(pubkey);
            const encryptUsername = encrypt.encrypt(username);
            const encryptPassword = encrypt.encrypt(password);
            // 创建隐藏表单
            var $hiddenForm = $('<form>', {
                id: 'req',
                action: loginUrl,
                method: 'POST'
            });
            // 添加加密后的用户信息到隐藏表单
            $('<input>').attr({
                type: 'hidden',
                name: 'username',
                value: encryptUsername
            }).appendTo($hiddenForm);
            $('<input>').attr({
                type: 'hidden',
                name: 'password',
                value: encryptPassword
            }).appendTo($hiddenForm);
            // 将隐藏表单添加到 body 并提交
            $('body').append($hiddenForm);
            $hiddenForm.submit();
            // 提交后删除隐藏表单
            $hiddenForm.remove();
        });

        $("#logout").click(function(){

            $.ajax({
                url: '/auth/logout',
                type: 'POST',
                headers: {"X-Auth-Token": window.sessionStorage.getItem("token_id")},
                dataType: 'json',
                success: function (res) {
                    // 只有请求成功（状态码为200）才会执行这个函数
                    if (res.code === '000000') {
                        window.sessionStorage.removeItem("token_id");
                        alert("退出成功");
                    } else {
                        alert(res.message);
                    }
                },
                error: function (xhr) {
                    // 只有请求不正常（状态码不为200）才会执行
                    console.log('error', xhr);
                    alert(xhr.responseJSON.message);
                }
            });

        });

        $("#me").click(function(){

            $.ajax({
                url: 'api/me',
                type: 'GET',
                dataType: 'json',
                headers: {"X-Auth-Token": window.sessionStorage.getItem("token_id")},
                success: function (res) {
                    // 只有请求成功（状态码为200）才会执行这个函数
                    if (res.code === '000000') {
                        alert(res.result);
                    } else {
                        alert(res.message);
                    }
                },
                error: function (xhr) {
                    // 只有请求不正常（状态码不为200）才会执行
                    console.log('error', xhr);
                    alert(xhr.responseJSON.message);
                }
            });

        });
    })
</script>
</html>