<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/webjars/jQuery/dist/jquery.min.js}"></script>
    <title>Test0</title>
</head>
<body>
<button type="button" id="bbtn">点击获取token</button>
<button type="button" id="bbtn1">点击获取用户信息</button>
</body>
<script type="text/javascript">
    const urlSearchParams = new URLSearchParams(window.location.search);
    const authId = urlSearchParams.get("df-auth-id");
    window.sessionStorage.setItem("token_id", authId);
    $(function () {
        $('#bbtn').click(function() {
            alert(window.sessionStorage.getItem("token_id"))
        })
        $('#bbtn1').click(function() {
            $.ajax({
                url: 'http://localhost:8081/api/me',
                type: 'GET',
                dataType: 'json',
                headers: {"X-Auth-Token": window.sessionStorage.getItem("token_id")},
                success: function (res) {
                    // 只有请求成功（状态码为200）才会执行这个函数
                    if (res.code === '000000') {
                        alert(res.result);
                    } else {
                        alert(res.message);
                    }
                },
                error: function (xhr) {
                    // 只有请求不正常（状态码不为200）才会执行
                    console.log('error', xhr);
                    alert(xhr.responseJSON.message);
                }
            });
        })

    })
</script>
</html>